pkgbase = archapt
	pkgdesc = For the people who forgot that they're not on Debian. Made with <3 by Spark
	pkgver = 1.1.0
	pkgrel = 1
	arch = any
	license = Custom
	depends = bash
	depends = sudo
	depends = pacman
	provides = apt
	conflicts = apt
	source = archapt.sh
	source = LICENSE
	sha256sums = f804fb75e2cc3b3aa6254817f4560f3f69ede0ed0adf3b2aa38180d44e8adc01
	sha256sums = 7d58c0581544a88060b883012151056fb309da2dc74eaa2ee5de2b57c0897029

pkgname = archapt
